body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color:hsl(0, 0%, 98%);
    width: 100vw;
    display: flex;
    flex-direction: column;
    

}

p{
    margin-block-start: 0;
    margin-block-end: 0;
    
   
}

.title{
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}
.top-p{
    font-size: 15px;
   text-align: center;
    color:hsl(229, 6%, 66%)
}
.main-container{
    display: flex;
    margin:95px 40px;
    width: 375px;
    background-color:white;
    align-self: center;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 25px 0;
}
.top{
   
    width: 310px;
    font-size: 1.5rem; 
    margin-bottom: 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

.boxes{
     
    width: 310px;
    box-sizing: border-box;
   
    border-top: 4px solid;
    border-radius: 10px;
    margin-bottom:25px;
    padding:0  25px 30px 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 10px 18px hsl(229, 6%, 66%); 
}

svg{
   align-self: flex-end;

}
.boxes > p {
    margin-top:0;
    margin-bottom: 35px;
    font-size:smaller;
    color:hsl(229, 6%, 66%);
}

h2{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 30px;
    margin-bottom: 15px;
}


 
.supervisor{
    border-top-color: hsl(180, 62%, 55%);
}

.team{
    border-top-color: hsl(0, 78%, 62%);
}

.karma{
    border-top-color: hsl(34, 97%, 64%);
}

.calculator{
    border-top-color: hsl(212, 86%, 64%)
}


@media ( min-width: 700px){
    html{
        font-size:20px;
    }
    .boxes{
        height:250px;
        width: 350px;
        
    }
    .box-container{
         display:flex;
         gap: 28px;
         align-items: center;
    
    }
    .center-boxes{
        display:flex;
        flex-direction:column;
    }
}